!.gitignore
*.conf
*.txt
*.log
.storage
.cloud
.google.token
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.db
tts/
deps/
appdaemon/compiled
appdaemon/apps/__pycache__
appdaemon/logs
.Trash-1000/
.uuid
.HA_VERSION